:root {
    --bg-button: #f0f0f0; /** BackGround do Botão*/
    --border-button: solid 1px #888; /** Borda do Botão */
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}